html,
body {
  margin: 0;
}
html {
  font-family: "helvetica neue", Arial, Helvetica, sans-serif;
  height: 100%;
}
body {
  overflow: hidden;
  height: inherit;
  background-color: black;
}
h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0px;
  top: -4px;
  right: 500px;
  color: transparent;
  text-shadow: 0 0 4px white;
}
p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}
